<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Projects</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body> 
	<div th:include="fragments/header :: header"></div>
	<div id="main">
		
		<div class="innerMain">
			<a sec:authorize="isAuthenticated()" class="button right" th:href="@{/user/newProj}">Create New Project</a>
			<h1>Projects</h1>
			
		<div th:if="${param.pledgeSuccessful}">
			<h2>Pledge was successfully made!</h2>
		</div>
		
		<div th:if="${param.pledgeUnsuccessful}">
			<h2>Error: Cant pledge to own project!</h2>
		</div>

			
			<table>
				<tr th:each="proj: ${project}">
					<td><div class="proj_list">
						<img th:attr="src=@{${proj.imagePath}}" class="proj_img_list" />
						<h3 th:text="${proj.name}">Name</h3>
						<p th:text="${proj.description}">Description</p>
						
						<a class="button" th:href="@{/project/__${proj.id}__}">View</a>
						
					</div></td>
					<!-- <td th:text="${proj.id}">Id</td>
					<td th:text="${proj.name}">Name</td>
					<td>[<a th:href="@{/project/__${proj.id}__}">view</a>]</td> -->
				</tr>
			</table>
		</div>
	</div>
</body>
</html>