<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Project</title>
	<link href="/../../../css/main.css" th:href="@{/../../../css/main.css}" rel="stylesheet" type="text/css" media="screen" />
<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
	<div th:include="fragments/header :: header"></div>
	<div id="main">
		<div class="innerMain">
			<div class="form">
			<h1>Create Project</h1>
				<form action="#" th:action="@{/project/newProj}"
					th:object="${project}" method="post" enctype="multipart/form-data">
					<table>
						<tr>
							<!-- <td>Name:</td> -->
							<td><input type="text" placeholder="Name" th:field="*{name}" /></td>
							<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
								Error</td>
						</tr>
						<tr>
							<!-- <td>Description:</td> -->
							<td><input type="text" placeholder="description" th:field="*{description}" /></td>
							<td th:if="${#fields.hasErrors('description')}"
								th:errors="*{description}">Description Error</td>
						</tr>
						<tr>
							<!-- <td>Goal Amount:</td> -->
							<td><input type="text" placeholder="goal (€) " th:field="*{goalAmount}" /></td>
							<td th:if="${#fields.hasErrors('goalAmount')}"
								th:errors="*{goalAmount}">Amount Error</td>
						</tr>
						
						<tr>
							<!-- <td>Deadline:</td> -->
							<td><input type="date" placeholder="06/12/16" th:field="*{deadLine}" /></td>
							<td th:if="${#fields.hasErrors('deadLine')}" th:errors="*{deadLine}">Deadline</td>
						</tr> 
					
						<tr>
							<!-- <td>Deadline:</td> -->
							<td><input type="file" name="projectImage" /> <br/></td>
						</tr>

						<tr>
							<td><button type="submit">Submit</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>