<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body> 
	<div th:include="fragments/header :: header"></div>
	<div id="main">
		<div class="innerMain">
			<h1 th:text="${project.name}">Project Title</h1>
			
			<p>Description: <span th:text="${project.description}">Project Name</span></p>
			<p>Goal: <span th:text="${project.goalAmount}">Goal Amount</span></p>
		</div>
	</div>
<!-- 
<div  th:unless="${#lists.isEmpty(project.users)}">
	<p>Contributers:</p>
	<table>
		<tr th:each="movement: ${artist.movements}">
			<td th:text="${movement.name}">Name</td>
		</tr>
	</table>
</div>
 -->
</body>
</html>