<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pledge</title>
<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

	<div th:include="fragments/header :: header"></div>
	<div id="main">
		<div class="innerMain input_form">

			<h1>Make a Pledge</h1>
			<form class="newform"
				th:action="@{/project/__${project.getId()}__/pledge/submit}"
				th:object="${Pledge}" method="POST">
				<h2 th:text="${project.name}">Project Title</h2>

				<table>
					<tr>
						<td>Description: <span th:text="${project.description}">Project
								Description</span></td>
					</tr>
					<tr>

						<td>
							<h3 sec:authorize="isAuthenticated()">
								<span>Credits remaining: </span><span
									th:text="${new java.text.DecimalFormat('€#,##0.00;€-#,##0.00').format(creditRemaining)}">Credit
									Remaining</span>
							</h3>
						</td>

					</tr>
					<tr>
						<td><input type="text" placeholder="Amount (€) " id="amount"
							name="amount" autofocus="autofocus" />
							
								<b th:if="${param.error}">Please Log In Before Pledging</b>
								<a class="button" th:if="${param.error}" th:href="@{/login}">Login</a>

							
								<b th:if="${param.errorCreditLimit}">You cannon pledge beyond your credit limit.</b>
							</td>
						<!-- <input type="password"  placeholder="confirm password" id="cpassword" name="cpassword" /> <br /> -->
					</tr>
					<tr>
						<td><button type="submit">Pledge</button> <input
							type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" /></td>
					</tr>
					</table>

				</form>
			  </div>
	</div>


</body>
</html>