<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pledge</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body> 

	<div class="login-page">
			<div class="form">
					<div th:if="${param.error}">
					 <a th:href="@{/login}">Please Log In Before Pledging</a>
				</div>
				<h1 th:text="${project.name}">Project Title</h1>
				<div th:if="${param.logout}">
					You have been logged out.
				</div><td>Project: <span th:text="${project.name}">Project Name</span></td>
				<form th:action="@{/project/__${project.getId()}__/pledge/submit}"  th:object="${Pledge}" method="POST">
				  <input type="text"  placeholder="Amount (€) " id="amount" name="amount" autofocus="autofocus" /> <br />
				   <!-- <input type="password"  placeholder="confirm password" id="cpassword" name="cpassword" /> <br /> -->
				  <input type="submit" value="Pledge"/>
				  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
				</form>
			  </div>
	</div>


</body> 
</html>