<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Home Title</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    
</head>
<body>

	<div  th:include="fragments/header :: header"></div>
	
	<div id="main">
		<div class="innerMain">
			<h1>Admin</h1>
			
			<table>
			<h3>Open Projects</h3>
				<tr th:each="projectOpen: ${project}">
					<td>
						<h3 th:text="${projectOpen.name}">Name</h3>
						<p th:text="${projectOpen.description}">Description</p>
						<p th:text="${projectOpen.getPledged()}">Pledged()</p>
						<p th:text="${projectOpen.getGoalAmount()}">Goal Amount</p>
						
						[<a th:href="@{/project/close/__${proj.id}__}">close</a>]					
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>