@CHARSET "UTF-8";

body {
	background: #d7dfe0;
}

p{
	font-size: 10pt;
	line-height: 110%;
}

#header {
	background: #b1d7dd;
	color: white;
	
}

.innerHead {
	width: 1024px;
	margin: 0 auto;
	background: #306f7a;
}

.innerHead h1 {
	padding: 20px;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#main {
	background: #d7dfe0;
	overflow: hidden;
}

.innerMain {
	width: 1024px;
	margin: 0 auto;
	background: white;
	min-height: 600px;
	overflow: hidden;
}

.innerMain table {
	padding: 0px 20px;
}

.innerMain h1, .innerMain h3, .innerMain h2 {
	padding: 10px 20px 0px 20px;
}

.innerMain p {
	padding: 0px 20px;
}

.innerMain td, .innerMain th{
	padding-right: 20px;
}

#footer {
	background: #b1d7dd;
	color: white;
}

.innerFooter {
	width: 1024px;
	margin: 0 auto;
	background: #306f7a;
}

#main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#main-nav li {
    float: left;
}

#main-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#main-nav li a:hover {
    background-color: #111;
}

/* ------ Login Page
 */
 
 @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;

}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 24px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


/* 
  Project List CSS
*/
.proj_img_thumb {
	max-width: 120px;
	max-height: 100px;
	margin-right:10px;
}

.proj_img_view {
	max-width: 300px;
	max-height: 200px;
	float: right;
	margin: 5px;
}

.proj_img_list {
	width: 300px;
	height: 200px;
	float: right;
}

.proj_list {
	padding: 10px;
	margin: 10px;
	background: #e8eef7;
	min-width: 950px;
	min-height: 220px;
}

.home_proj_list {
	background: #e8eef7;
	padding: 5px;
	margin-top: 0px;
	padding-top: 0px;
	width: 300px;
	height: 350px;
}

.home_proj_list_text {
	height: 180px;
}

.home_proj_list h3{
	/*background: #306f7a;
	color: white;*/
	padding: 5px;
	text-align: center;
}

.trending th{
	
	padding-top:10px;
	width:300px;
	
}

.trending th:last-child {
    width: 40px;
}

.trending td{
	padding:3px;
}

.table_view {
	background: #e8eef7;
	padding: 0px;
	margin: 20px;
	width: 95%;
}

.table_view th{
	padding:5px;
	background: #306f7a;
	color: white;
}

.table_view tr:nth-child(even){
	background: #e1e3ef;
}

.proj_view td{
	min-width: 100px;
}

.proj_view_details {
	padding: 10px;
	margin: 10px;
	margin-bottom: 0px;
	background: #e8eef7;
	min-width: 950px;
	min-height: 220px;
}

.proj_view_contrib {
	padding: 10px;
	margin: 10px;
	margin-top: 0px;
	background: #d2efea;
	min-width: 950px;
	min-height: 220px;
}

.proj_view_contrib th {
	min-width: 100px;
}

.proj_view_contrib h3{
	margin-top: 0px;
	margin-bottom: 5px;
} 

.button{
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	background: #42649b;
	color: white;
	margin: 10px;
	margin-left: 15px;
	font-weight: bold;
}

.button:hover{
	background: #7e95ba;
}

.right {
	float: right;
	margin-right:20px;
}

.disabledButton{
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	background: #FF2727;
	color: white;
	margin: 10px;
	margin-left: 15px;
	font-weight: bold;
	float: right;
	
}
.disabledButton:hover{
	background: #FF2727;
}

.pledges_list {
	padding: 10px;
	margin: 10px;
	background: #e8eef7;
	min-width: 950px;
	min-height: 40px;
	max-height: 60px
}

.newform {
	background: #e8eef7;
	margin-left: 20px;
	margin-right: 20px;
	padding: 30px 10px;
	border-radius: 25px;
}

.newform tbody{
	padding-top: 20px;
}

.newform td{
	min-width: 100px;
	padding: 5px;
}

.newform input {
	min-width: 419px;
}

.input_form {
	
}

.input_form h2, .input_form h1{
	margin-left: 30px;
}
