<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projects</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body> 
	<div th:include="fragments/header :: header"></div>
	<div id="main">
		<div class="innerMain">
			<h1>User profile</h1>
			<p th:text="${username}">username</p>

			<a class="button right" th:href="@{/user/newProj}">New Project</a>
			<h3>My Projects</h3>
			
			<table>
				<tr th:each="proj: ${project}">
					<td><div class="proj_list">
						<img th:attr="src=@{${proj.imagePath}}" class="proj_img_list" />
						<h3 th:text="${proj.name}">Name</h3>
						<p th:text="${proj.description}">Description</p>
						
						<a class="button" th:href="@{/project/__${proj.id}__}">view</a>
						<a class="button" th:href="@{/project/editProj/__${proj.id}__}">Edit</a>
						
					</div></td>
					<!-- <td th:text="${proj.id}">Id</td>
					<td th:text="${proj.name}">Name</td>
					<td>[<a th:href="@{/project/__${proj.id}__}">view</a>]</td> -->
				</tr>
			</table>

			

			


			<!--
			<h3>My Projects</h3>			
			<table>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Total Pledges</th>
					<th>Goal</th>
				</tr>
				<tr th:each="prod: ${project}">
 					<td><div class="pledge_list">
						<td th:text="${prod.getName()}">name</td>
						<td th:text="${prod.getDescription()}">Description</td>
						<td th:text="${new java.text.DecimalFormat('€#,##0.00;€-#,##0.00').format(prod.getPledged())} ">Pledged</td>
						<td th:text="${new java.text.DecimalFormat('€#,##0.00;€-#,##0.00').format(prod. getGoalAmount())} ">Goal</td>
						
					</div></td>
				</tr>
			</table>
			-->

			<h3>My Pledges</h3>			

			<table class="table_view">
				<tr>
					<th>Project Name</th>
					<th>Project Description</th>
					<th>Project Deadline</th>
					<th>My Contribution</th>
					<th>Pledge Date</th>
					<th>Cancel</th>
					<!--<th>Cancel Contribution</th>-->
				</tr>
				<tr th:each="pledge: ${pledge}">
					<!--<td><div class="pledge_list">-->
					<td th:text="${pledge.project.name}">Project Name</td>
					<td th:text="${pledge.project.description}">Project description</td>
					<td th:text="${pledge.project.getDateString(pledge.project.getDeadLine())}">Project End Date</td>
					<td th:text="${new java.text.DecimalFormat('€#,##0.00;€-#,##0.00').format(pledge.amount)}">Amount Pledged</td>
					<td th:text="${pledge.getPledgeDateString()}">Date of pledge</td>
					<div th:if="${pledge.project.status == 0}">
						<td><a th:text="Closed"></a></td>
					</div>
					<div th:if="${pledge.project.status == 1}">
						<div th:if="${pledge.project.goalAmount > pledge.project.getPledged()}"> 
						 	<td><a class="button" th:href="@{/user/cancelpledge/__${pledge.id}__}"><span>Cancel</span></a></td> 
						</div>
						<div th:if="${pledge.project.getPledged() > pledge.project.goalAmount }"> 
						 	<td><a th:text="GoalReached"></a></td>
						</div>	
					</div>


					<!--<div th:if="${pledge.project.status == 1 and pledge.project.goalAmount > pledge.project.getPledged()}">
						<td><a class="button" th:href="@{/user/cancelpledge/__${pledge.id}__}"><span>Cancel</span></a></td>
					</div>
					<div th:if="${pledge.project.status == 1 and pledge.project.goalAmount < 500000}">
						<td><a th:text="Goal Reached"></a></td>
					</div>
					-->
					

					<!--
					<div th:switch="${pledge.project.status}"> 
					  	<td><a th:case="#{pledge.project.status == 0}" class="button" th:href="@{/user/cancelpledge/__${pledge.id}__}"><span>Cancel</span></a></td>
						<td><a th:case="#{pledge.project.status == 1}" th:text="Closed"></a></td>

					</div>
					</div></td>-->
				</tr>
			</table>

		</div>
	</div>
</body>
</html>
